/*img{
    max-width:450px;
    max-height:450px;
}
/*
.favorites    {
    line-height: 1.5;
    text-align: right;
} 
#factHandler{
    margin-top: 700px; 
    /* Bethany */
    /* position: fixed;*/
    /*margin-left: 700px;
    /* Bethany */

/*}

#imageHandler{
    margin-top: 400px;
    /*position: absolute;
    /*margin-left: 700px;
    /* Bethany */

/*}
#genieLamp{
    width: 9%;
   position: absolute;
    margin-bottom: 1000px;
    margin-left: 880px;
}

#genieLamp2{
    width: 9%;
    position: absolute;
     margin-bottom: 1000px;
     margin-left: 488px;
}
#heading{
    position: absolute;
    width: 100%;
    
}

#subheading{
    position: absolute;
    margin-top: 70px;
    width: 100%
}
.breadcrumb{
    position: absolute;
    margin-top: 150px;
}
footer{
    position: absolute;
    margin-top: 1000px;
    margin-left: 600px;
}
footer{
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
} 
/* Bethany added, and removed duplicate of .favorites (see above) */
/*

.favorites-container {
    border: 2px solid crimson;
    display: flex;
    width: 50%;
    min-height: auto;
    position: fixed;
    margin: 20px;
    bottom: 10px;
    justify-items: center;
}
/* Bethany */
/*
.favorites-container h3 {
    justify-content: center;
    color: gold;
    position: relative;
    padding: 10px;
    margin: 5px;
    font-size: 40px;
}

#favoritefact-container {
        background: transparent;
        border: none;
        resize: none;
        /*color: #000000;
        /*border-left: 1px solid black;
        /* Bethany */
       /* padding: 10px;
        margin: 10px;
} 
/*
#favoritepic-container{
    height:auto;
    width: auto;
    max-width: 69vw;
    max-height: 42.0vh;
    /* Bethany */
    /*padding: 10px;
    margin: 10px;
} 


/* BETHANY ADDED- need to look at MEDIA Queries for Bulma 
/* MEDIA QUERY- Smaller desktop screens and smaller
@media screen and (max-width: 980px) {
    img {
        max-width:400px;
        max-height:400x; 
    }

    #factHandler{
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
    
    }
    
    #imageHandler{
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
    }

    #genieLamp{
       display: none;
    }
    
    #genieLamp2{
      display: none;
    }
}


/* MEDIA QUERY- Tablets and smaller 
@media screen and (max-width: 768px) {
    img {
        max-width:350px;
        max-height:350x; 
    }
 
}

/* MEDIA QUERY- For mobile phones and smaller 
@media screen and (max-width: 575px) {
    img {
        max-width:200px;
        max-height:200x; 
    }
}

